<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href ="{{url_for('static',filename='index.css')}}"/>
</head>
<body>
    <div id = 'whole'>
        <p id = 'name'>Calculator</p>
       <div class = 'buttons' width = 100%>
        <input id = 'text' type = 'text' placeholder="Enter the value.." />
        <table cellspacing = '5px' cellpadding = '5px'>
            <tr>
                <td>
                    <button>7</button>
                    <button>8</button>
                    <button>9</button>
                    <button>c</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>4</button>
                    <button>5</button>
                    <button>6</button>
                    <button>-</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>+</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>0</button>
                    <button>*</button>
                    <button>.</button>
                    <button>=</button>
                </td>
            </tr>
        </table>
       </div>
    </div>
</body>
<script src="{{url_for('static',filename='index.js')}}"></script>
</html>